footer.o-footer.o-footer--theme-dark(data-o-component='o-footer', data-o-footer--no-js='')
  .o-footer__container
    .o-footer__row
      nav.o-footer__matrix(role='navigation', aria-label='Useful links')
        .o-footer__matrix-group.o-footer__matrix-group--1
          h6.o-footer__matrix-title  Project Info
          #o-footer-section-0.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.github.com/sliute') Github
              |  
              a.o-footer__matrix-link(href='//www.linkedin.com/in/stefanliute') Stefan Liute
      h6.o-footer__external-link.o-footer__matrix-title
        a.o-footer__more-from-ft.o-footer__matrix-title(href='http://ft.com') Visit FT.com
    .o-footer__copyright(role='contentinfo')
      small
        | This is a non-commercial, proof-of-concept project designed for a FT.com tech test.
        br
        | Headlines sourced from the Financial Times are used under licence from the Financial Times.
        br 
        abbr(title='Financial Times', aria-label='F T') FT
        |  and &lsquo;Financial Times&rsquo; are trademarks of The Financial Times Ltd.
        br
  .o-footer__brand
    .o-footer__container
