header.o-header.o-header--simple(data-o-component='o-header', data-o-header--no-js='')
  .o-header__row.o-header__top
    .o-header__container
      .o-header__top-wrapper
        .o-header__top-column.o-header__top-column--left 
          a.o-header__top-link.o-header__top-link--search(href='#o-header-search', aria-controls='o-header-search', title='Open search bar')
            span.o-header__top-link-label Search
        .o-header__top-column.o-header__top-column--center
          a(href='/', style='text-decoration: none', title='FT Headliner')
            span.o-typography-big-number FT Headliner
        .o-header__top-column.o-header__top-column--right
  #o-header-search.o-header__row.o-header__search.o--if-js(role='search', data-o-header-search='')
    .o-header__container
      form.o-header__search-form(method='POST', action='/', role='search', aria-label='Headline search')
        label.o-header__visually-hidden(for='o-header-search-term-js')
          | Search the 
          abbr(title='Financial Times') FT Headlines
        |  
        input#o-header-search-term-js.o-header__search-term(name='searchString', type='text', placeholder='Search the FT Headlines')
        |  
        button.o-header__search-submit(type='submit')  Search
        |  
        button.o-header__search-close(type='button', aria-controls='o-header-search', title='Close search bar')
          span.o-header__visually-hidden Close
