doctype html
html.core(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title FT Headliner
    meta(name='description', content='A tech test that displays the latest, and searches through, FT.com headlines')
    meta(name='author', content='Stefan Liute')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script.
      var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
      if (cutsTheMustard) {
      document.documentElement.className = document.documentElement.className.replace('core', 'enhanced');
      }
    style.
      .core .o--if-js,
      .enhanced .o--if-no-js { display: none !important; }
      html {
      font-family: MetricWeb, sans-serif;
      overflow-x: hidden;
      }
      body {
      margin: 0;
      background-color: #fff1e0;
      }
      .center-div {
      width: 67%;
      margin: 0 auto;
      max-width: 600px;
      align: 'center';
      }
      .container {
      text-align: center;
      padding: 25px;
      }
      .inner-div {
      display: inline-block;
      padding: 5px;
      }
    link(rel='stylesheet', href='//origami-build.ft.com/v2/bundles/css?modules=o-assets@^3.0.2,o-buttons@^4.5.4,o-colors@^3.6.0,o-fonts@^2.2.0,o-footer@^5.4.0,o-forms@^3.5.0,o-grid@^4.3.1,o-header@^6.14.1,o-hoverable@^3.1.0,o-icons@^5.3.0,o-labels@^2.1.0,o-normalise@^1.2.1,o-toggle@^1.1.6,o-typography@^4.3.3,o-teaser@^1.11.2,o-visual-effects@^1.0.0')
    script(src='https://polyfill.io/v2/polyfill.min.js')
       
    script.
      (function(src) {
      if (cutsTheMustard) {
      var o = document.createElement('script');
      o.async = o.defer = true;
      o.src = src;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(o, s);
      }
      }('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-assets@^3.0.2,o-date@^2.8.0,o-grid@^4.3.1,o-header@^6.14.1,o-hoverable@^3.1.0,o-normalise@^1.2.1,o-utils@^1.0.2,o-viewport@^3.1.0'));
  
  body
    block content
